  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">

      <a href="/home" class="logo d-flex align-items-center">
        <img src="/public/img/mutareLogo.jpg" alt="">
        <span class="d-none d-lg-block">Super Imobiliario</span>
      </a>
    </div><!-- End Logo -->

  </header><!-- End Header -->