  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <!-- Dashboard Nav -->
      <li class="nav-item">
        <a class="nav-link " href="/home">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <!-- Residencias Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#concurso-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-bar-chart"></i><span>Residencias</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="concurso-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/Casa/Criar">
              <i class="bi bi-circle"></i><span>Nova Residencia</span>
            </a>
          </li>
          <li>
            <a href="/Casa/Listar">
              <i class="bi bi-circle"></i><span>Listar</span>
            </a>
          </li>
        </ul>
      </li><!-- End Residencias Nav -->

      <!-- Condominios Nav -->
      <li class="nav-item">
              <a class="nav-link collapsed" data-bs-target="#material-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-bar-chart"></i><span>Condominios</span><i class="bi bi-chevron-down ms-auto"></i>
              </a>
              <ul id="material-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                  <a href="/Condominio/Criar">
                    <i class="bi bi-circle"></i><span>Criar Novo</span>
                  </a>
                </li>
                <li>
                  <a href="/Condominio/Listar">
                    <i class="bi bi-circle"></i><span>Listar</span>
                  </a>
                </li>
              </ul>
      </li><!-- Condominios Nav -->

      <!-- manutenção Nav -->
      <li class="nav-item">
              <a class="nav-link collapsed" data-bs-target="#manutenção-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-gem"></i><span>Manutenção</span><i class="bi bi-chevron-down ms-auto"></i>
              </a>
              <ul id="manutenção-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                  <a href="/Manutencao/Criar">
                    <i class="bi bi-circle"></i><span>Criar Novo</span>
                  </a>
                </li>
                <li>
                  <a href="/Manutencao/Listar">
                    <i class="bi bi-circle"></i><span>Listar</span>
                  </a>
                </li>
              </ul>
      </li><!-- Manutenções Nav -->

      <!-- Usuarios Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#funcionario-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-person"></i><span>Usuarios</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="funcionario-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/User/Criar">
              <i class="bi bi-circle"></i><span>Novo Usuario</span>
            </a>
          </li>
          <li>
            <a href="/User/Listar">
              <i class="bi bi-circle"></i><span>Listar</span>
            </a>
          </li>
          <li>
            <a href="/User/Perfil">
              <i class="bi bi-circle"></i><span>Perfil</span>
            </a>
          </li>
        </ul>
      </li><!-- End Usuarios Nav -->

      <!-- Logout Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="/Logout">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Logout</span>
        </a>
      </li><!-- End Logout Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->