<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Novo Usuario</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/public/img/mutareLogo-removebg-preview.png" rel="icon">
  <link href="/public/img/mutareLogo-removebg-preview.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/public/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/public/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/public/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/public/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/public/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/public/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/public/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <%- include('./partials/header.ejs') %>

  <!-- ======= Sidebar ======= -->
  <%- include('./partials/sidebar.ejs') %>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Registro de Novo Usuario</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/home">Home</a></li>
          <li class="breadcrumb-item">Usuarios</li>
          <li class="breadcrumb-item active">Novo Usuario</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section faq">
      <div class="row">
        
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Dados do funcionario</h5>

            <!-- Multi Columns Form -->
            <form class="row g-3" action="/User/Criar" method="post" enctype="multipart/form-data">
              <div class="col-md-12">
                <label for="nomeCompleto" class="form-label">Nome Completo</label>
                <input type="text" class="form-control" id="nomeCompleto" name="nomeCompleto" required>
              </div>
              
              <div class="col-md-6">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
              </div>

              <div class="col-md-6">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
              </div>

              <div class="col-md-6">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
              </div>

              <div class="col-md-6">
                <label for="telefone" class="form-label">Telefone</label>
                <input type="number" class="form-control" id="telefone" name="telefone" required>
              </div>

              <div class="col-md-4">
                <label for="tipo" class="form-label">Tipo</label>
                <select id="tipo" name="tipo" class="form-select" required>
                  <option value="Visitante">Visitante</option>
                  <option value="Proprietario">Proprietario</option>
                  <option value="Inquilino">Inquilino</option>
                  <option value="Administrador">Administrador</option>
                </select>
              </div>
              <div class="col-md-4">
                <label for="imagem" class="form-label">Foto de Perfil (Opcional)</label>
                <input type="file" id="imagem" name="imagem" accept=".png,.jpg,.jpeg">
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <button type="reset" class="btn btn-secondary">Limpar todos os Campos</button>
              </div>
            </form><!-- End Multi Columns Form -->

          </div>
        </div>

      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <%- include('./partials/footer.ejs') %>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/public/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/public/vendor/chart.js/chart.umd.js"></script>
  <script src="/public/vendor/echarts/echarts.min.js"></script>
  <script src="/public/vendor/quill/quill.js"></script>
  <script src="/public/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/public/vendor/tinymce/tinymce.min.js"></script>
  <script src="/public/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/public/js/main.js"></script>

</body>

</html>